<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vue.js App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  </head>
  <body>
    <div id="app">
      <p>{{ count }}</p>
      <button v-on:click="increment">counter++</button>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          width="200"
          height="200"
        >
          <circle cx="100" cy="100" v-bind:r="radius" fill="lightpink"></circle>
        </svg>
        <label>円の大きさ調整</label>
        <input type="range" min="0" max="100" v-model="radius" />
      </div>
      <div>
        <ol>
          <li v-for="item in list" :key="item.id">NAME:{{ item.name }} PRICE:{{ item.price }}</li>
        </ol>
      </div>
      <div>
        <ul>
          <li v-for="(item, index) in monsters" v-bind:key="item.id">
            ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
          </li>
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
